.header{
  border-radius: 40px;
  border: 6px double #6610f2;
  background-color: white;
  padding: 8px;
  margin-top: 20px;
  color:tomato;
}

.question-panel{
  border-radius: 5px;
  border: 0.5px solid #6610f2;
  background-color: white;
  padding: 8px;
  margin-top: 20px;
}

.instructions{
  font-size: 17px;
}

.ta-img{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.ta-card{
  display: flex;
}

.ta-container{
  max-width: 400px;
  background-color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
